.table-container {
    width: 100%;
  }
  
  .table {
    width: 100%;
  }
  
  .table th,
  .table td {
    flex: 1;
    min-width: 100px; /* Set a minimum width for the columns */
  }

  .grey-dialog {
    background-color: grey; /* Adjust the hex code for your desired grey */
  }
  